<template name="home">
  <table class="table">
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Male</th>
        <th>Female</th>
      </tr>
    </thead>
    <tbody>
    {{#each competitions}}
      <tr>
        <td><a class="href" href="/competition/{{_id}}"> {{ name }} </a></td>
        {{#if topMale.userName}}
          <td class="h5">{{ topMale.userName }} <span class="badge">{{ topMale.values.display }}</span></td>
        {{else}}
          <td class="h5">-</td>
        {{/if}}
        {{#if topFemale.userName}}
          <td class="h5">{{ topFemale.userName }} <span class="badge">{{ topFemale.values.display }}</span></td>
        {{else}}
          <td class="h5">-</td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
