<template name="home">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Challenge</th>
      <th>Male</th>
      <th>Female</th>
    </tr>
    {{#each competitions}}
      <tr>
        <td><a class="href" href="/competition/{{_id}}"> {{ name }} </a></td>
        {{#if topMale.userName}}
          <td class="h6">{{ topMale.userName }} <span class="label label-success">{{ topMale.values.display }}</span></td>
        {{else}}
          <td class="h6">-</td>
        {{/if}}
        {{#if topFemale.userName}}
          <td class="h6">{{ topFemale.userName }} <span class="label label-success">{{ topFemale.values.display }}</span></td>
        {{else}}
          <td class="h6">-</td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
