<template name="history">

  <h2>History</h2>
  <h4>{{currentUser.profile.name}}</h4>

  {{> chart }}

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Competition</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
    {{#each results}}
      <tr>
        <td>{{ formatDate date }}</td>
        <td>{{ competitionName }}</td>
        <td>{{ values.display }}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</template>

<template name="chart">
    <div id="chart"></div>
</template>
