<template name="history">

  <h3>All Challenge PRs for {{currentUser.profile.name}}</h3>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Challenge</th>
        <th>PR</th>
        <th>When?</th>
      </tr>
    </thead>
    <tbody>
      {{#each competitionNames}}
        <tr>
          <td><a href="#{{nameForId name }}h">{{ name }}</a></td>
          <td>{{ bestValue name }}</td>
          <td>{{ bestDate name }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <br>
  <br>

  <h3>Full History for {{currentUser.profile.name}}</h3>

  <br>

  {{#each competitionNames}}
    {{> chart }}
  {{/each}}

</template>

<template name="chart">

  <div class="panel panel-default" id="{{nameForId name }}h">
    <div class="panel-heading">
      <h4 class="panel-title">{{ name }}</h4>
    </div>
    <div class="panel-body">
      <div id="{{nameForId name }}"></div>
    </div>
  </div>

  <!--<div class="h4" id="{{nameForId name }}h">{{ name }}</div>-->
  <!--<div id="{{nameForId name }}"></div>-->
  <!--<hr>-->
</template>
