<template name="create">

  <h1>New Challenge</h1>

  <form role="form">

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Competition Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          <input type="text" name="description" class="form-control" placeholder="Description">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          <label>What is being measured?</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsMeasurement" id="reps" value="reps" checked>
              Reps or Rounds
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsMeasurement" id="weight" value="weight" checked>
              Weight in Lbs
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsMeasurement" id="time" value="time">
              Time
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          <label>What's better, a high result or a low result?</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsBetter" id="high" value="high" checked>
              High (usually the case with reps, rounds, weight)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsBetter" id="low" value="low">
              Low (usually the case with time)
            </label>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" id="new-competition" class="btn btn-primary btn-lg">Create Challenge</button>

  </form>

</template>